*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
/app/build

# Log files
*.log

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# OSX files
.DS_Store

# Java / Kotlin
*.class
